html,
body {
  height: 100%;
  background-image: url("https://i.postimg.cc/QxQ5q8Xm/image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.centered {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 70%;
}

h1 {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 68px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #454545;
  font-family: "Rubik", sans-serif;
}

h2 {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  color: #454545;
  line-height: 3rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  width: 120px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 30px;
}

a {
  color: #454545;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

/* animated arrow */

.arrow {
  box-sizing: border-box;
  height: 3.5vw;
  width: 3.5vw;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.box_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 17vh;
  margin-top: 8%;
}

.img-txt {
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center;
}
/* image with text */

.image-container {
  width: 75%;
  height: 75%;
  max-width: 100%;
  margin: 0 5% 5% 12%;
}

/* stories section */

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding-top: 5%;
}

.image {
  max-width: 100%;
  max-width: 100%;
  padding: 8% 0 5% 15%;
}

.image1 {
  max-width: 100%;
  max-width: 100%;
  padding: 8% 0 5% 15%;
}

.img2 {
  max-width: 70%;
  max-height: 40%;
}
.text1,
.text2 {
  width: 80%;
  max-width: 100%;
  max-height: 100%;
  font-size: 20px;
  text-align: left;
  line-height: 1.7;
  font-family: "Metrophobic", sans-serif;
}

.text2 {
  margin-left: 13%;
}

.text1 {
  margin-right: 10%;
}

.text1 h3,
.text2 h3 {
  font-size: 35px;
  margin-bottom: 0;
}

.hidden {
  opacity: 0;
  transition: all 2s ease-in-out;
}

.show {
  opacity: 1;
  transform: scale(1);
}

/* link in the expeditions stories */
.link {
  color: blue;
}

.statement p {
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.7;
  padding: 5% 20% 0 20%;
  color: red;
  text-align: center;
}

h5 {
  text-align: center;
  color: red;
}

.insta h4 {
  text-align: center;
}
/* link to instagram */

.link1 {
  color: #454545;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.insta_link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.insta_link img {
  padding-bottom: 5%;
  padding-top: 2%;
  max-width: 450px;
}
/* back to top button */
.top-button {
  background-color: #fff;
  border: none;
  color: black;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 15px;
  float: right;
}

/* RESPONSIVE */

@media screen and (min-width: 750px) {
}

@media screen and (max-width: 749px) {
}
