html,
body {
  height: 100%;
  background-image: url("https://lh3.googleusercontent.com/dqemjGjCssTPg5ChFO-b-Ns-1zq68l1XGpWBngnLVxFX4DpIc-pZrULo9XQXfZNemOhqhpnyqrh9JsYyevrTCpsDP7SO0TTLVghxPHWNQvjWD5Ub5le_JIThOylABjhl5-jVhBFPWhw=w2400");
  background-size: cover;
 background-repeat: no-repeat;
}

.centered {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 85%;
 
}

h1 {
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
 color: #454545;
font-family: 'Rubik', sans-serif;
}


h3, h2 {
  text-align: center;
  text-transform: full-width;
  white-space: pre-wrap;
font-family: 'Rubik', sans-serif;
  color: #454545;
  
}

h4 {
  color: #000000;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  width: 120px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

li {
  margin-left: 30px;

}

a {
  color: #454545;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}


.service {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  max-width: 100%;

}

.container {
  overflow: hidden;
  padding: 30px 10px;
  background-color: #EFF1F3;
  background-repeat: no-repeat;
}
.img {
  width: 30px;
}


/* Press */
.container3 {
  background-color: #EFF1F3;
  background-repeat: no-repeat;
}
.txt {
  padding-top: 5%;
font-size: 30px;
letter-spacing: .6em;
line-height: 1.5;
}
#icons {
  display: flex;
	justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5%;
padding-bottom: 10%;
}
.icon1 {
width: 75px;
}
.icon2 {
  width: 75px;
}
.icon3 {
  width: 80px;
}


/* About */
.container2 {
  display: flex;
  align-items: center; 
  justify-content: center;
  max-width: 100%;
  padding-top: 5%;
 }

 .img2 {
  max-width: 70%;
  max-height: 40%;
}

.image {
  max-width: 100%;
  max-width: 100%;
  padding: 8% 0 5% 15%;
   }

   .text1, .text2 {
    width: 80%;
    max-width: 100%;
    max-height: 100%;
    font-size: 20px;
    text-align: left;
    line-height: 1.7;
    font-family: 'Metrophobic', sans-serif;
  }
  
  .text2 {
    margin-left: 13%;
  }
  
  .text1 {
    margin-right: 10%;
  }

  .text1 h3, .text2 h3 {
    font-size: 35px;
    margin-bottom: 0;
    background-color: aliceblue;
  }

.hidden {
  opacity: 0;
  transition: all 2s ease-in-out;
  }

.show {
opacity: 1;
transform: scale(1);
}

/* animated arrow */

.arrow {
  box-sizing: border-box;
  height: 3.5vw;
  width: 3.5vw;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.box_container {
  display: flex;
  align-items: center;
  justify-content: center;
 background-color: #EFF1F3;
  height: 10vh;
}

/* button to TOP */

.top-button {
  background-color: #fff;
  border: none;
  color: black;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 15px;
  float: right;
}

/* RESPONSIVE */

@media screen and (min-width: 750px) {

  
}



@media screen and (max-width: 749px) {

  
}