html,
body {
  height: 100%;
  background-image: url("https://lh3.googleusercontent.com/bPHOU-JvmZl5QdJlPN7eZN6bSQPzxSc-iGQ1dSwNADFBat8VJxmtTeLSWWdQshCBp92efcxf7N6G3OUyBzwK9YmvP_47CWMai-Hk9AQW5Ku0oNcYjtZdrIcNOLbkUiYfY54VaAlrbdw=w2400");
background-size: cover; 
background-repeat: no-repeat;
background-position: center;
}

.centered {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 70%;
}

h1 {
   padding-left: 20%;
   padding-right: 20%;
    font-size: 68px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
   color: #454545;
  font-family: 'Rubik', sans-serif;
  }
  
  
  h2 {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 30px;
    text-align: center;
    text-transform: full-width;
    justify-content: center;
    white-space: pre-wrap;
  font-family: 'Rubik', sans-serif;
    color: #454545;
    
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo img {
    width: 120px;
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  li {
    margin-left: 30px;
  
  }

  a {
    color: #454545;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }

  /* animated arrow */

.arrow {
    box-sizing: border-box;
    height: 3.5vw;
    width: 3.5vw;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }
  
  .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }
  
  .box_container {
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: transparent;
    height: 17vh;
    margin-top: 8%;
  }

  .img-txt {
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
  }
  /* image with text */
.image {
width: 75%;
height: 75%;
max-width: 100%;
margin: 0 0 5% 5%;
}

/* stories section */

.container2 {
  display: flex;
  align-items: center; 
  justify-content: center;
  max-width: 100%;
  padding-top: 5%;
 }

 .img2 {
  padding-top: 10%;
  margin-left: 10%;
  margin-top: 5%;
  max-width: 60%;
  max-height: 30%;
}
.text1, .text2 {
  width: 75%;
  max-width: 100%;
  max-height: 100%;
  margin: 0 10% 0 10%;
  font-size: 20px;
  line-height: 1.7;
  font-family: 'Metrophobic', sans-serif;
}


.text1 h3, .text2 h3 {
  font-size: 35px;
  margin-bottom: 0;
}

.hidden {
  opacity: 0;
  transition: all 2s ease-in-out;
  }

.show {
opacity: 1;
transform: scale(1);
}

/* link in the expeditions stories */
.link {
  color: blue;
}